{% extends "base.html" %}

{% block title %}
CarMarket 2.0
{% endblock title %}

{% block content %}
<br>
<a href="{% url 'car-create' %}"><button type="button" class="btn btn-primary btn-lg btn-block mb-3">Add New Car</button></a>
<div class ="row">
	{% for car in cars %}
	<div class="col-12 col-md-6 col-xl-6">
		<div class="card bg-dark text-white mb-3">
			<div class="card-body cardz">
					<h1>
						{{car.make}} - {{car.model}}
						<small>
							{{car.year}}
						</small>
					</h1>
					{% if car.car_img %}
						<img class="card-img" src="{{car.car_img.url}}" width="auto" height="300">
					{% endif %}
					<a class= "text-white" href="{{car.get_absolute_url}}"><button class = "btn btn-primary btn-sm mt-4">More Info.</button></a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}