{% extends "base.html" %}

{% block title %}
{{car.make}} - {{car.model}}
{% endblock title %}

{% block content %}
	<div class = "jumbotron">
		 <div class= "container">
			<h1>
				{{car.make}} - {{car.model}}
				<small>
					{{car.year}}
				</small>
			</h1>
			<img src="{{car.car_img.url}}" class="img-fluid">
			    <section class= "float-right mt-3">
			        <a href="{% url 'car-update' car_id=car.id %}"><button type="button" class="btn btn-secondary">Update</button></a>
	                <a href="{% url 'car-delete' car_id=car.id %}"><button type="button" class="btn btn-warning">Delete</button></a>
	            </section>
	    </div>
	</div>
{% endblock content %}